<%_ const path = '.'; _%>
<%_ const headType = 'website'; _%>
<%_ const pageId = 'home'; _%>
<%_ const pageTitle = ''; _%>
<%_ const pageType = 'top'; _%>
<%- include( path + '/components/_const.ejs'); %>
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# <%= headType %>: https://ogp.me/ns/<%= headType %>#">
    <%- include(path + '/components/_head.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</head>

<body>
    <%- include(path + '/components/_header.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
    <main id="main">
        <section class="mv">
            <div class="swiper mv__swiper">
                <div class="swiper-wrapper mv__swiper-wrapper">
                    <div class="swiper-slide swiper-slide01"></div>
                    <div class="swiper-slide swiper-slide02"></div>
                    <div class="swiper-slide swiper-slide03"></div>
                </div>
                <div class="swiper-pagination mv__swiper-pagination"></div>
            </div>
            <h1 class="mv__catch js-fadeup">
                <span>
                    Where<br>
                    conversations<br>
                    connect.
                </span>
            </h1>
            <p class="mv__message js-fadeup">
                <span>
                    Need design and production<br>
                    for website and advertisement?<br>
                    - Jetus is your choice.
                </span>
            </p>
            <div class="mv__scrolldown">
                <span>Scroll Down</span>
            </div>
        </section>
        <section class="about">
            <div class="l-inner">
                <h2 class="c-title c-title--about js-fadeup-title">
                    <span>About</span>
                </h2>
                <div class="about__block">
                    <div class="about__block-img js-fadein">
                        <img src="<%= path %>/images/about/web_ph_about_01.png" alt="web_ph_about">
                    </div>
                    <div class="about__block-text">
                        <h3 class="js-fadein">
                            あなたを満タス、<br>
                            ジェッタス。
                        </h3>
                        <p class="js-fadein">
                            Je+（ジェッタス）は、急速な成長や加速を意味する「Jet」に、<br class="pc-only">
                            創造を意味する「+」を組み合わせた造語です。<br class="pc-only">
                            お客様を目的地へ運ぶジェット機のように、スピーディーなご対応を。<br class="pc-only">
                            目的地に待ち受けているワクワクのように、ココロ躍るデザインを。<br>
                            ジェッタスはクリエイティブという名の旅を通して、<br class="pc-only">
                            あなたのココロを満たします。
                        </p>
                    </div>
                </div>
                <div class="about__block">
                    <div class="about__block-img js-fadein">
                        <img src="<%= path %>/images/about/web_ph_about_02.png" alt="web_ph_about">
                    </div>
                    <div class="about__block-text">
                        <h3 class="js-fadein">
                            ジェッタスに、<br class="tablet-only sp-only">できること。
                        </h3>
                        <p class="js-fadein">
                            あなたのビジネスに必要な質の高いクリエイティブがジェッタスにはあります。<br class="pc-only">
                            販促企画、デザイン開発、パッケージ、Web、撮影、コピー翻訳からサイト運営や<br class="pc-only">
                            キャンペーン管理までワンストップでご提案することが可能です。<br class="pc-only">
                            各々のサプライヤーに依頼管理する手間が省け、<br class="pc-only">
                            ご担当者様の負担を軽減します。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="works">
            <div class="l-inner">
                <h2 class="c-title c-title--works js-fadeup-title">
                    <span>Works</span>
                </h2>
                <div class="works__swiper-container">
                    <div class="swiper works__swiper js-fadein">
                        <div class="swiper-wrapper works__swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_01.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_02.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_03.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_04.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_05.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_06.png" alt="web_ph_works">
                            </div>
                        </div>
                    </div>
                    <div class="works__swiper-buttons js-fadein">
                        <div class="swiper-button-prev works__swiper-button-prev"></div>
                        <div class="swiper-button-next works__swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination works__swiper-pagination js-fadein"></div>
                </div>
                <div class="works__buttons">
                    <a class="works__button works__button--company js-fadein" href="#">Company</a>
                    <a class="works__button works__button--recruit js-fadein" href="#" target="_blank">Recruit</a>
                </div>
            </div>
        </section>
    </main>

    <%- include(path + '/components/_footer.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</body>
</html>
