<%_ const path = '.'; _%>
<%_ const headType = 'website'; _%>
<%_ const pageId = 'home'; _%>
<%_ const pageTitle = ''; _%>
<%_ const pageType = 'top'; _%>
<%- include( path + '/components/_const.ejs'); %>
<!DOCTYPE html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# <%= headType %>: https://ogp.me/ns/<%= headType %>#">
    <%- include(path + '/components/_head.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</head>

<body>
    <%- include(path + '/components/_header.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
    <main id="main" class="l-main">
        <section class="mv">
            <div class="swiper mv__swiper">
                <div class="swiper-wrapper mv__swiper-wrapper">
                    <div class="swiper-slide swiper-slide01"></div>
                    <div class="swiper-slide swiper-slide02"></div>
                    <div class="swiper-slide swiper-slide03"></div>
                </div>
                <div class="swiper-pagination mv__swiper-pagination"></div>
            </div>
            <h1 class="mv__catch">
                Where<br>
                conversations<br>
                connect.
            </h1>
            <p class="mv__message">
                Need design and production<br>
                for website and advertisement?<br>
                - Jetus is your choice.
            </p>
            <div class="mv__scrolldown">
                <span>Scroll Down</span>
            </div>
        </section>
        <section class="about">
            <div class="l-inner">
                <h2 class="c-title">About</h2>
                Section04
            </div>
        </section>
        <section class="works">
            <div class="l-inner">
                <h2 class="c-title">Works</h2>
                <div class="works__swiper-container">
                    <div class="swiper works__swiper">
                        <div class="swiper-wrapper works__swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_01.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_02.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_03.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_04.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_05.png" alt="web_ph_works">
                            </div>
                            <div class="swiper-slide">
                                <img src="<%= path %>/images/works/web_ph_works_06.png" alt="web_ph_works">
                            </div>
                        </div>
                    </div>
                    <div class="works__swiper-buttons">
                        <div class="swiper-button-prev works__swiper-button-prev"></div>
                        <div class="swiper-button-next works__swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination works__swiper-pagination"></div>
                </div>
                <div class="works__buttons">
                    <a class="works__button works__button--company" href="#">Company</a>
                    <a class="works__button works__button--recruit" href="#" target="_blank">Recruit</a>
                </div>
            </div>
        </section>
    </main>

    <%- include(path + '/components/_footer.ejs',{path:path,pageId:pageId,pageTitle:pageTitle}); %>
</body>
</html>
